body {
    background-color: paleturquoise;
}

canvas {
    border: 15px solid yellow;
    background-image: url(/css/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.canvas-container {
    display: flex;
    justify-content: center;
}

section {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

button {
    color: white;
    background-color: tomato;
}